extends layout.pug

block content

  article.portfolio-intro

    h1 Full-stack developer and programming enthusiast!

    p This site will introduce you to me and my more recent coding experiences. By showcasing these recent and more meaningful projects I aim to demonstrate my new skills and abilities.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project['image_urls'][0]}`, alt=`${project.project_name}`)
            h5= project.project_name

