extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  .page-cannot-be-found
    h1 404 Page Cannot Be Found

  nav.nav
    a(href='/')
      span &larr;
      |  Back